// Responsive
desktop-base-width     = 1080px
rupture.desktop-cutoff = $tablet = 1150px
rupture.mobile-cutoff  = $mobile = 768px

// Images path
$img($image)
    url('../img/layout/' + $image)

// Colors
$roxo = #3C003C
$azul = #06A1B5

// Fonts
@import url('http://fonts.googleapis.com/css?family=Montserrat:400,700')
montserrat($size, $style = normal)
    font-size $size + 0px
    font-family 'Montserrat', 'Helvetica', 'Arial', sans-serif
    font-weight 400
    if $style == bold
        font-weight 700

verdana($size, $weight = normal)
    font-size $size + 0px
    font-family Verdana, Geneva, Helvetica, Arial, sans-serif
    font-weight normal
    if $weight == bold
        font-weight bold
