header
    position relative
    width 100%
    padding 30px 0
    +mobile()
        padding 20px 0
    .center
        clearfix()
    h1
        display block
        float left
        margin 0
        padding 0
        a
            display block
            text-indent -9999px
            width 135px
            height 55px
            background $img('logo-trupestart.png') no-repeat center
            background-size 100% auto
    #menu-handle
        display block
        float right
        width 35px
        height 55px
        border 0
        outline 0
        padding 0
        text-indent -9999px
        background $img('menu.png') no-repeat center transparent
    &.home
        position absolute
        top 0
        left 0
        z-index 9999
        h1 a
            width 270px
            height 110px
            +mobile()
                width 135px
                height 55px

#menu-overlay
    &.open
        opacity 1
        visibility visible
    position fixed
    z-index 9999
    width 100%
    height 100%
    left 0
    top 0
    opacity 0
    visibility hidden
    transition opacity 0.5s, visibility .5s
    background rgba($roxo, .95)
    nav
        position relative
        width 100%
        text-align center
        top 50%
        height 75%
        transform translateY(-50%)
        a
            display block
            text-decoration none
            text-transform uppercase
            min-height 27px
            height 16.66666%
            montserrat 50 bold
            color #fff
            transition color .3s
            &:hover
            &.active
                color $azul
            &#menu-close
                background $img('menu2.png') no-repeat center top
                text-indent -9999px
        +mobile()
            a
                montserrat 25 bold
                &#menu-close
                    background-size 20px auto
        @media screen and (max-height: 520px)
            a
                montserrat 25 bold

.main
    padding 25px 0 80px
    .title
        montserrat 80 bold
        margin 0 0 50px
        padding 0
        text-transform uppercase
    +tablet()
        .title
            font-size 60px
    +mobile()
        padding-bottom 50px
        .title
            font-size 36px
            margin-bottom 30px

footer
    width 100%
    padding 70px 0
    background #fff
    color $roxo
    clearfix()
    .left
        float left
        .endereco
            margin 0
            montserrat 12 bold
            line-height 1.5
    .right
        float right
        montserrat 16 bold
        .chamada
            margin 0 0 10px
            line-height 1
            text-transform uppercase
        .informacoes
            margin 0
            line-height 26px
            a
                display inline-block
                text-indent -9999px
                width 27px
                height 26px
                background-repeat no-repeat
                background-position center
                margin-left 6px
                &.facebook
                    background-image $img('rodape-fb.png')
                &.contato
                    background-image $img('rodape-contato.png')
    +above($mobile)
        .left .endereco
            padding-top 6px
    +mobile()
        padding 35px 0
        .left
        .right
            float none
            text-align center
        .right
            margin-top 25px
            montserrat 15 bold

.not-found
    padding 12% 0 18%
    text-align center
    h1
        display inline-block
        margin 0
        padding 15px
        montserrat 13 bold
        color $azul
        border 2px solid #fff
        text-transform uppercase
