.agencia
    .agencia-texto
        clearfix()
        margin-bottom 70px
        .left
            width 50%
            float left
            p
                verdana 17
                line-height 1.5
                a
                    font-weight 700
                    text-decoration none
                    color $azul
                    transition color .3s
                    white-space nowrap
                    &:hover
                        color lighten($azul, 12)
                &:first-child
                    margin-top 0
        .right
            width 45%
            float right
            transform translateY(-30px)
            +mobile()
                transform translateY(0)
            img
                display block
                width 55.76%
                height auto
                margin 0 auto 50px
            p.destaque
                montserrat 30 bold
                color $azul
                text-transform uppercase
                text-align center
                margin 0
        +mobile()
            margin-bottom 40px
            .left
            .right
                width 100%
                float none
            .left
                p
                    verdana 14
            .right
                margin-top 30px
                img
                    width 45%
                    margin 0 auto 30px
                p.destaque
                    font-size 24px
    .agencia-pessoas
        clearfix()
        text-align center
        > div
            width 16.66666%
            float left
            position relative
            text-align left
            img
                display block
                width 100%
                height auto
            +mobile()
                width 33.33333%
            &:hover .overlay
                opacity 1
            .overlay
                width 100%
                height 100%
                position absolute
                top 0
                left 0
                background rgba($roxo, .9)
                opacity 0
                transition opacity .3s
                cursor default
                +below($tablet)
                    display none
                .nome
                    position absolute
                    display block
                    top 0
                    left 0
                    padding 10%
                    montserrat 20 bold
                    color #fff
                    text-transform uppercase
                .descricao
                    position absolute
                    display block
                    bottom 0
                    left 0
                    padding 10%
                    verdana 14
                    color #fff
            &.frank
                float none
                display inline-block
                width 20%
                margin 2% auto 0
                +mobile()
                    width 33.3333%
    .frank
        margin 0 auto
    .agencia-orcamento
        display block
        width 100%
        padding 10px
        border 2px solid $azul
        text-align center
        margin-top 70px
        text-decoration none
        transition border .3s
        +tablet()
            margin-top 50px
        +mobile()
            text-align left
            margin-top 40px
        span
            display inline-block
            color $azul
            text-transform uppercase
            montserrat 20 bold
            min-height 28px
            line-height 28px
            padding-right 45px
            background $img('enviar.png') center right no-repeat
            transition color .3s
            +mobile()
                width 100%
                background-position 95% center
        &:hover
            border-color #fff
            span
                color #fff
