section.contato
    clearfix()
    &.main
        padding-bottom 0
    .left
        width 52%
        float left
        h3
            montserrat 48 bold
            text-transform uppercase
            margin 0 0 50px
            span
                display block
                color $azul
        p
            montserrat 16
            &.informacoes
                montserrat 48 bold
                color $azul
                margin 60px 0
                line-height 50px
                a
                    display inline-block
                    text-indent -9999px
                    width 50px
                    height 50px
                    background-repeat no-repeat
                    background-position center
                    margin-left 15px
                    background-image $img('facebook.png')
        +below($tablet)
            width 45%
            h3
                font-size 32px
                margin-bottom 20px
            p
                font-size 14px
                &.informacoes
                    font-size 32px
                    margin 30px 0
                    line-height 32px
                    a
                        width 32px
                        height 32px
                        background-size 100% auto
        +mobile()
            width 100%
            float none
            h3
            p.informacoes
                font-size 28px
    form
        width 38%
        float right
        ::-webkit-input-placeholder
            color $azul
        :-moz-placeholder
            color $azul
        ::-moz-placeholder
           color $azul
        :-ms-input-placeholder
            color $azul
        input,
        textarea
            display block
            width 100%
            background transparent
            border 2px solid #fff
            outline 0
            margin-bottom 5px
            resize none
            color #fff
            montserrat 13 bold
            padding 20px
        textarea
            height 180px
        input[type=submit]
            background $img('enviar2.png') no-repeat center $azul
            text-indent -9999px
            border-color transparent
            padding 0
            height 52px
            transition background .3s, border .3s
            &:hover
                background $img('enviar.png') no-repeat center transparent
                border-color $azul
        .response-contato-wrapper
            margin-top 20px
            text-align center
            #response-contato
                display inline-block
                montserrat 14
                padding-bottom 5px
                border-bottom 1px solid $azul
        +tablet()
            width 45%
        +mobile()
            width 100%
            float none
            margin-top 40px
    .googlemaps
        width 100%
        clear both
        float left
        height 440px
        margin-top 65px
        +tablet()
            height 380px
            margin-top 45px
        +mobile()
            height 250px
            margin-top 30px
        iframe
            display block
            width 100%
            height 100%