.diferenciais
    .diferenciais-item
        margin-bottom 40px
        +mobile()
            margin-bottom 20px
        &:last-child
            margin 0
        clearfix()
        .diferenciais-item-texto
            width 60%
            float left
            margin-right 10%
            padding-left 32px
            background $img('bullet.png') no-repeat left 12px
            h3
                montserrat 30 bold
                text-transform uppercase
                color $azul
                margin 0
            p
                verdana 17
                line-height 1.5
            +mobile()
                width 100%
                margin 0
                background-position left 9px
                padding-left 24px
                h3
                    font-size 24px
                p
                    font-size 14px
        .diferenciais-item-imagem
            position relative
            width 17%
            padding-top 17%
            background $azul
            float left
            border-radius 100%
            +tablet()
                width 20%
                padding-top 20%
                max-width 184px
            +mobile()
                display none
            img
                display block
                position absolute
                left 0
                top 0
                width 100%
                height auto
                padding 6%

