.home-banners
    position relative
    padding-top 170px
    overflow-x hidden
    +mobile()
        padding-top 95px
    .chamada
        padding 50px 0 80px
        width 50%
        h1
            margin 0
            padding 0
            montserrat 83 bold
            text-transform uppercase
            line-height .8em
            span
                display inline-block
                font-size 1.4em
                transform translateY(.1em)
                margin-right -.1em
                color $azul
        h2
            margin 1.3em 0 3em
            padding 0
            montserrat 19
            line-height 1.5
            span
                color $azul
        a
            display inline-block
            montserrat 20 bold
            color $azul
            padding .8em 2.4em
            border 2px solid $azul
            transition background .3s, color .3s
            background transparent
            text-decoration none
            text-transform uppercase
            margin-right 2em
            &:hover
                background $azul
                color $roxo
        +tablet()
            padding 30px 0 50px
            h1
                montserrat 50 bold
            h2
                montserrat 17
                margin-bottom 2em
            a
                montserrat 16 bold
                padding .8em 2em
                margin-right .4em
        +mobile()
            width 100%
            padding 30px 0 30px
            h1
                montserrat 40 bold
            h2
                montserrat 16
                margin-bottom 2em
            a
                display block
                width 100%
                text-align center
                padding .8em 0
                montserrat 16
                margin-bottom .5em
    .banners
        position absolute
        width 100%
        height 100%
        top 0
        left 55%
        .slide
            position absolute
            width 100%
            height 100%
            top 0
            left 0
            background-position left bottom
            background-repeat no-repeat
            background-size auto 100%
        +mobile()
            display none

.home-servicos
    width 100%
    background #fff
    padding 80px 0
    clearfix()
    +tablet()
        padding 60px 0
    +mobile()
        padding 40px 0
    h3
        montserrat 30 bold
        color $roxo
        text-transform uppercase
        margin 0 0 .3em
        text-align center
        +tablet()
            font-size 24px
        +mobile()
            font-size 20px
    .categorias
        margin-bottom 40px
        font-size 0
        text-align center
        +tablet()
            margin-bottom 30px
        +mobile()
            margin-bottom 20px
        a
            display inline-block
            montserrat 19 bold
            text-decoration none
            color $azul
            transition color .3s
            line-height 1.3
            &:after
                content "\2022"
                margin 0 10px
                color $azul
            &:last-child:after
                display none
            &:hover
            &.active
                color $roxo
            +tablet()
                font-size 18px
            +mobile()
                font-size 16px
    .icones
        clearfix()
        a
            display block
            width 25%
            position relative
            float left
            padding 0 1.5%
            text-decoration none
            text-align center
            montserrat 18 bold
            text-transform uppercase
            color $roxo
            .icone
                width 90%
                height auto
                margin 0 auto 7.5%
                background $roxo
                padding-top 90%
                border-radius 50%
                background-repeat no-repeat
                background-position center
                background-size 87.5% auto
                transition background .3s
                &.icone-1
                    background-image $img('acerte.png')
                &.icone-2
                    background-image $img('custo.png')
                &.icone-3
                    background-image $img('prazo.png')
                &.icone-4
                    background-image $img('clientes.png')
            &:hover
                .icone-1
                    background-image $img('acerte2.png')
                .icone-2
                    background-image $img('custo2.png')
                .icone-3
                    background-image $img('prazo2.png')
                .icone-4
                    background-image $img('clientes2.png')
            +tablet()
                montserrat 16 bold
            +mobile()
                width 50%
                margin-bottom 5%
                montserrat 15 bold
                &:nth-child(4n + 3),
                &:nth-child(4n + 4)
                    margin-bottom 0
                .icone
                    width 70%
                    padding-top 70%

.home-numeros
    width 100%
    background $img('cidade.png') no-repeat center $azul
    background-size cover
    padding 80px 0
    clearfix()
    +tablet()
        padding 60px 0
    +mobile()
        padding 25px 0
    .col
        width 25%
        float left
        padding 0 2.5%
        text-align center
        .numero
            display block
            montserrat 75 bold
        .texto
            montserrat 20
            text-transform uppercase
        +tablet()
            .numero
                font-size 54px
            .texto
                font-size 16px
        +mobile()
            width 50%
            margin-bottom 5%
            &:nth-child(4n + 3),
            &:nth-child(4n + 4)
                margin-bottom 0
            .numero
                font-size 36px
            .texto
                font-size 14px

.home-portfolio
    width 100%
    .slick-slider
        width 100%
        .slide
            width 25%
            position relative
            img
                display block
                width 100%
                height auto
            .overlay
                position absolute
                width 100%
                height 100%
                top 0
                left 0
                background rgba($roxo, .9)
                opacity 0
                transition opacity .3s
                text-decoration none
                .titulo
                    position absolute
                    display table
                    width 100%
                    height 100%
                    span
                        display table-cell
                        vertical-align middle
                        text-align center
                        padding 0 5%
                        color #fff
                        text-transform uppercase
                        montserrat 18 bold
                +below($tablet)
                    display none
            &:hover .overlay
                opacity 1

.home-depoimento
    background #fff
    width 100%
    padding 120px 0
    +tablet()
        padding 80px 0
    +mobile()
        padding 40px 0
    .depoimento
        width 80%
        margin 0 auto
        padding 0 10%
        background $img('depoimento.png') no-repeat left 35%, $img('depoimento2.png') no-repeat right 35%
        text-align center
        p
            color $roxo
            verdana 20
            font-style italic
            margin 0
            line-height 1.5
            &.cliente
                montserrat 16 bold
                margin-top 2em
                font-style normal
        +below($tablet)
            width 100%
            background-size 30px auto
            p
                verdana 18
                &.cliente
                    font-size 14px
        +mobile()
            background-size 20px auto
            p
                verdana 15
                &.cliente
                    font-size 13px

.home-contato
    padding-top 80px
    +tablet()
        padding-top 40px
    +mobile()
        padding-top 40px