.portfolio
    h2.title
        margin-bottom .2em
    .categorias
        margin-bottom 40px
        font-size 0
        +tablet()
            margin-bottom 30px
        +mobile()
            margin-bottom 20px
        a
            display inline-block
            montserrat 20 bold
            text-decoration none
            color $azul
            transition color .3s
            line-height 1.3
            &:after
                content "\2022"
                margin 0 10px
                color $azul
            &:last-child:after
                display none
            &:hover
            &.active
                color #fff
            +tablet()
                font-size 18px
            +mobile()
                font-size 16px
    .projetos
        clearfix()
        .thumb
            position relative
            width 48.148%
            float left
            margin-right 3.704%
            margin-bottom 3.704%
            overflow hidden
            background $azul
            transition background .3s
            &:nth-child(2n)
                margin-right 0
            > img
                display block
                width 100%
                height auto
            &:hover
                +above($tablet)
                    background #fff
                .imagem-hover
                .overlay
                    opacity 1
            .imagem-hover
                opacity 0
                transition opacity .3s
                position absolute
                top 0
                left 0
                width 100%
                height 100%
                z-index 2
                background #fff
                img
                    display block
                    width 100%
                    height auto
            .overlay
                opacity 0
                transition opacity .3s
                position absolute
                top 0
                left 0
                width 100%
                height 100%
                z-index 3
                text-align center
                font-size 0
                .link-externo
                .ver-mais
                    display inline-block
                    width 60px
                    height 60px
                    background-color #fff
                    background-repeat no-repeat
                    background-position center
                    border-radius 100%
                    margin 145px 8px
                    border 2px solid transparent
                    transition border .3s, box-shadow .3s
                    &:hover
                        border-color $roxo
                        box-shadow 0 1px 5px rgba(#000, .5)
                .link-externo
                    background-image $img('link-site.png')
                .ver-mais
                    background-image $img('ver-mais.png')
            +below($tablet)
                .imagem-hover
                .overlay
                    display none